<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us</title>
    {% include 'extensions-css.html' %}
</head>
  <body>
  {% include 'navbar.html' %}

  <div class="container overflow-hidden gutter">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
     
    </div>
  </div>
  
<section>
    <div class="container">
        <header class="mb-4 rounded">
            <h1 class="sup">About us</h1>
        </header>
        <div class="ui four stackable cards">
            <div class="card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
              </div>
            </div>
          </div>
    </div>

</section>

<div class="container overflow-hidden gutter">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
     
    </div>
  </div>

  <section class="features">
<div class="container">
    <header class="rounded mb-4">
        <h1 class="sup">The Omiknow team</h1>
    </header>
    <p class="sub">
     Passionate, Dreamy, Utopic, Caring, Involved, Serious ... French, Belgian, Spanish, American, Brazilian, Italian, German, British, Mexican, Chilean, Norwegian Argentinian, Indian, Nigerian, South African, South Korean, Colombian, Dutch, Indonesian, Turk, Polish. Omiknow is close to 100 people working from the "Embassy of Knowledge" in Paris to help you share your passion in 29 countries and 16 languages.
    </p>
</div>

   
  </section>


  <section class="features">
   <div class="container">
    <figure class="figure">
        <img src="https://c.superprof.com/style/images/about/superteam1.jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-end d-flex justify-content-center"><a class="ui inverted red button" href="{% url 'contact' %}">Join us</a> </figcaption>
      </figure>
   </div>
  </section>
   
{% include 'footer.html' %}

{% include 'login_modal.html' %}

{% include 'upload-modal.html' %}
{% include 'extensions-js.html' %}

   </body>
</html>










































