{% load static %}


<footer>
<div class="container">
<h3 class="sup">About</h2>
    <ul>
        <li><a href="{% url 'about' %}" class="links">Who are we?</a></li>
        <li><a href="{% url 'terms' %}" class="links">Terms &amp; conditions</a></li>
      <!--  <li><a href="#" class="links">Privacy Policy</a></li>
        <li><a href="#" class="links">All States</a></li>
        <li><a href="#" class="links">Jobs</a></li>
   <li><a href="#" class="links">Online lessons</a></li>
        -->
     
    </ul>
<h3 class="sup">Help</h2>
    <ul>
     <!--   <li><a href="#" class="links">Need help?</a></li>-->
        <li><a href="{% url 'contact' %}" class="links">Contact</a></li>
       </ul>
    <p>All rights reserved</p>
</div>
</footer>