<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="en" class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html lang="en-NG">
    <!--<![endif]-->

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<title>▷ Private Tutors - Home Tutoring & Private Tuition @ Omiknow</title>
	

<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0"/><meta name="google-signin-client_id" content="278893467141-vt9iavocc2ekr6941ij629sa4k9l8q9k.apps.googleusercontent.com">
        <link rel="stylesheet" type="text/css" href="https://c.superprof.com/style/css/style-202301041457.css" />
        <link rel="stylesheet" type="text/css" href="https://c.superprof.com/style/css/mod-home-202301041457.css" />

</head>
<body>
    
<div>
<div
<a
href="/" class="basic-header-button caption has-icon">
<span
class="notification-badge"></span>
</a>
<a
href="/tutor/" class="basic-header-button caption has-icon">
<span
class="notification-badge"></span>
</a>
<a
href="/" class="basic-header-button caption has-icon">
<span
class="notification-badge"></span>
</a></div></div></div>
</header></div><div
id="homeV4" class="home-v4"><div
class="primary-content"><div
class="main-search"><div
class="main-search-container"><div
class="main-search-tool"><div
class="main-text"><h1>Find the<br>perfect tutor</h1><p>Online or in-person,<br>Choose from <span class="emphasis">22 million tutors</span></p></div><div
class="search search-placeholder suggest-city"><form
class="search-box-v3-2 home-search-form autocomplete-form autocomplete-form-nosubmit HomeV2_form js-homeV2form"
method="post" action="/form-search.html" data-type="toute_matiere"><div
class="home-search-form-container search-header-form-visibility-trigger"><div
class="placeholder-picto"></div>
<label
for="search-placeholder-trigger">What do you want to learn?</label><div
class="home-search-form-inner autocomplete">
<input
data-proxy="subject.input" data-proxy-field="subject" data-sync="subject"
class="HomeV2_input Search_box_input autocomplete-search-empty autocomplete-input HomeV2_wSubject"
id="search_subject" type="text" placeholder="Example “Maths”"
name="search_subject" autocomplete="off" data-autocomplete-search-empty="true"
data-autocomplete-ajax-url="/a/getSubjects/"
data-autocomplete-result-html="<div>___data___</div>" /><div
class="home-search-results autocomplete-results"></div></div><div
class="home-search-form-inner"><div
class="HomeV2_adress">
<input
data-proxy="city.input" data-proxy-field="city" data-sync="gplace" name="search_city"
class="HomeV2_input Search_box_input HomeV2_inputAddress HomeV2_GoogleAutocomplete"
id="search_city"
data-country-code="NG"
type="text" placeholder="Lesson location" />
<input
data-presets="search_lat" data-path="d_presetCoordonate" data-field-name="lat" type="hidden" id="search_lat" name="search_lat" value="" />
<input
data-presets="search_lng" data-path="d_presetCoordonate" data-field-name="lng" type="hidden" id="search_lng" name="search_lng" value="" />
<input
type="hidden" id="search_location" name="location" value="" />
<input
type="hidden" name="src" value="home" />
<input
type="hidden" name="isV_search" value="" />
<input
type="hidden" name="search_custom_type" value="" />
<input
type="hidden" name="search_id_type" value="" /><div
class="home-search-results autocomplete-results"></div><div
class="search-top-town"><p
class="tab text town locate choice-locate" tabindex="-1">Around me</p><p
class="tab text town choice-webcam" tabindex="-1">Online</p></div></div></div><div
class="btn-container">
<button
class="btn HomeV2_searchButton search-header-submit button-topHide"
type="submit"><span
class="text">Find a tutor</span></button></div></div></form></div><div
class="mobile-text"><p>Online or in-person<br>Choose from <span class="emphasis">22 million tutors</span></p></div></div><div
class="teachers-overview-mask"><div
class="teachers-overview">
<ul>
<li>
<img
class="lazy" data-src="https://c.superprof.com/img/home/ann/26/prof-maths.jpg" alt="Maths tutor" >
<img
class="lazy fallback" data-src="https://c.superprof.com/img/home/ann/26/prof-maths.jpg" alt="Maths tutor" ><div
class="bubble-wrapper"><div
class="bubble"><h6>Odogwu</h6>
<p>Maths tutor</p>

<div
class="rating">
<span
class="picto"></span>
<span
class="number">5.0</span>
<span
class="reviews-count">
<span
class="desktop-only">(6)</span>
<span
class="mobile-only">(6)</span>
</span></div>
</div></div></li>
<li>
<img
class="lazy" data-src="https://c.superprof.com/img/home/ann/26/13723-prof-french.jpg" alt="French tutor" >
<img
class="lazy fallback" data-src="https://c.superprof.com/img/home/ann/26/13723-prof-french.jpg" alt="French tutor" ><div
class="bubble-wrapper"><div
class="bubble"><h6>Vanessa</h6>
<p>French tutor</p>

<div
class="rating">
<span
class="picto"></span>
<span
class="number">5.0</span>
<span
class="reviews-count">
<span
class="desktop-only">(11)</span>
<span
class="mobile-only">(11)</span>
</span></div>
</div></div></li>
<li>
<img
class="lazy" data-src="https://c.superprof.com/img/home/ann/26/13724-prof-english.jpg" alt="English tutor" >
<img
class="lazy fallback" data-src="https://c.superprof.com/img/home/ann/26/13724-prof-english.jpg" alt="English tutor" ><div
class="bubble-wrapper"><div
class="bubble"><h6>Deborah</h6>
<p>English tutor</p>

<div
class="rating">
<span
class="picto"></span>
<span
class="number">5.0</span>
<span
class="reviews-count">
<span
class="desktop-only">(4)</span>
<span
class="mobile-only">(4)</span>
</span></div>
</div></div></li>
<li>
<img
class="lazy" data-src="https://c.superprof.com/img/home/ann/26/13725-prof-dance.jpg" alt="Dance tutor" >
<img
class="lazy fallback" data-src="https://c.superprof.com/img/home/ann/26/13725-prof-dance.jpg" alt="Dance tutor" ><div
class="bubble-wrapper"><div
class="bubble"><h6>Peter</h6>
<p>Dance tutor</p>

</div></div></li>
</ul>
</div></div></div></div><div
class="reviews"><div
class="find-teacher main-text"><div
class="sticky-content"><div
class="mobile-only"><ul
class="stars"><li
class="starV2 star-fullV2"></li><li
class="starV2 star-fullV2"></li><li
class="starV2 star-fullV2"></li><li
class="starV2 star-fullV2"></li><li
class="starV2 star-fullV2"></li></ul></div><h3>Highly rated and verified<br>tutors</h3><p><span class="emphasis">Over a million students</span> have given <span class="emphasis"><br>5 stars</span> to their tutor</p><div
data-href="https://www.superprof.ng/s/,Nigeria,,.html" class="a-js btn">
<span
class="text">Find your tutor</span></div></div></div>
<div
class="list-mask"><div
class="list-container"><ul>
<li>
<a
href="/accounting-teacher-offering-accounting-classes-level-level-professionals-and-university-students.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/7491119/7377741/160/20221221094245/accounting-teacher-offering-accounting-classes-level-level-professionals-and-university-students.jpg" alt="Accounting tutor"></div><div
class="intro-wrapper"><p
class="name">Olawale</p><p
class="status">Accounting tutor</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Olawale is a great accounting professional who really knows the back and forth in Financial and Managerial Accounting. I was impressed at how patient he explained big concepts in...</p><p
class="date">Mercy 1 week ago</p>
</a></li>
<li>
<a
href="/the-hausa-language-intriguing-and-trust-beneficial-invest-yourself-being-multilingual-let-your-hausa.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/17763935/8843674/160/20221025164741/the-hausa-language-intriguing-and-trust-beneficial-invest-yourself-being-multilingual-let-your-hausa.jpg" alt="Hausa tutor"></div><div
class="intro-wrapper"><p
class="name">Amaka</p><p
class="status">Hausa tutor</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">She’s patient and allows learners to try. She’s a very good teacher.</p><p
class="date">Oyenike 1 week ago</p>
</a></li>
<li>
<a
href="/grade-maths-student-took-further-maths-gcse-well-and-achieved-that-also-currently-level-maths-student.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/18172934/9008231/160/20221126120824/grade-maths-student-took-further-maths-gcse-well-and-achieved-that-also-currently-level-maths-student.jpg" alt="Maths tutor"></div><div
class="intro-wrapper"><p
class="name">Maeda</p><p
class="status">Maths tutor</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Perfect! Maeda is an amazing maths, science and UCAT tutor. My son improved significantly after starting lessons with her and has finally developed an interest in chemistry. Her...</p><p
class="date">Ojas 2 weeks ago</p>
</a></li>
<li>
<a
href="/you-want-explore-various-african-nigerian-traditional-and-contemporary-dances-good-news-skilled-african-dance.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/11426035/10646650/160/20221216132712/you-want-explore-various-african-nigerian-traditional-and-contemporary-dances-good-news-skilled-african-dance.jpg" alt="Dance tutor"></div><div
class="intro-wrapper"><p
class="name">Stephen</p><p
class="status">Dance tutor</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Superprof is a humble and a teacher per excellence who has all the quality to pass an information to a learner and versatile in the field of music.

So I recommend him to any one...</p><p
class="date">John 2 weeks ago</p>
</a></li>
<li>
<a
href="/certified-ict-cambridge-igcse-tutor-with-over-years-teaching-experience-igcse-ict-tutor-offering-the-service-ict-0417.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/av/160.jpg" alt="Basic computer skills tutor"></div><div
class="intro-wrapper"><p
class="name">Raphael</p><p
class="status">Basic computer skills tutor</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">A very good teacher who knows the subject of ICT so well that he could be a university professor for ICT. He explains everything very clearly.</p><p
class="date">Rajit 2 weeks ago</p>
</a></li>
<li>
<a
href="/khadijat-abubakar-isa-media-broadcaster-social-entrepreneur-wife-great-mother-and-one-with-proven-skills-for-storytelling.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/20793248/10052071/160/20220527204841/khadijat-abubakar-isa-media-broadcaster-social-entrepreneur-wife-great-mother-and-one-with-proven-skills-for-storytelling.jpg" alt="Hausa tutor"></div><div
class="intro-wrapper"><p
class="name">Khadijat</p><p
class="status">Hausa tutor</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Very patient and always well prepared. Highly recommended </p><p
class="date">Yasmeen 2 weeks ago</p>
</a></li>
</ul></div></div>
</div></div><div
class="learning-content"><div
class="how-to"><h3>Learning has never<br>been easier</h3><ul
class="steps"><li><div
class="steps-text"><h4>1. Search</h4><p>View the profiles freely and contact fantastic tutors according to your needs (prices, qualification, reviews, home tutoring or by webcam)</p></div><div
class="steps-preview">
<video
autoplay loop muted playsinline preload="none">
<source
src="https://c.superprof.com/style/images/home/v4/animations/how-to/1.mov">
</video></div></li><li><div
class="steps-text"><h4>2. Contact</h4><p>Fast as lightning, tutors will get back to you within hours! And if you can't find the perfect tutor our team is here to help.</p></div><div
class="steps-preview">
<video
autoplay loop muted playsinline preload="none">
<source
src="https://c.superprof.com/style/images/home/v4/animations/how-to/2.mov">
</video></div></li><li><div
class="steps-text"><h4>3. Organise</h4><p>Schedule your lessons with your tutor or coach from your dashboard.</p></div><div
class="steps-preview">
<video
autoplay loop muted playsinline preload="none">
<source
src="https://c.superprof.com/style/images/home/v4/animations/how-to/3.mov">
</video></div></li></ul></div><div
class="where-to-find"><div
class="thumbnail desktop  lazy-bg" data-src="https://c.superprof.com/style/images/home/v4/alchimie-prof-eleve.jpg">
</div><div
class="text"><h3>Student and tutor,<br> in harmony</h3><div
class="thumbnail mobile lazy-bg" data-src="https://c.superprof.com/style/images/home/v4/alchimie-prof-eleve.jpg"></div><p
class="comment">"Superprof is the platform that allowed my two children to develop, to invest and to have confidence in themselves."</p><p
class="comment-name">Clemence's mom</p><p
class="comment-grade">1st year student</p></div></div></div><div
class="subjects-content"><h3>1001 subjects to explore</h3><div
class="list-container">
<ul>


<li>
<a
href="/lessons/japanese/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/58.jpg">
<span>Japanese</span>
</a></li>





<li>
<a
href="/lessons/fashion-design/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/411.jpg">
<span>Fashion Design</span>
</a></li>





<li>
<a
href="/lessons/swimming/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/156.jpg">
<span>Swimming</span>
</a></li>





<li>
<a
href="/lessons/german/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/33.jpg">
<span>German</span>
</a></li>





<li>
<a
href="/lessons/ukulele/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/233.jpg">
<span>Ukulele</span>
</a></li>





<li>
<a
href="/lessons/dj-ing/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/130.jpg">
<span>DJ-ing</span>
</a></li>





<li>
<a
href="/lessons/microsoft-excel/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/373.jpg">
<span>Microsoft Excel</span>
</a></li>





<li>
<a
href="/lessons/biology/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/10.jpg">
<span>Biology</span>
</a></li>





<li
class="category"><div
class="cat-wrapper">
<span>Sports & Dance</span></div></li>



<li>
<a
href="/lessons/boxing/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/142.jpg">
<span>Boxing</span>
</a></li>





<li>
<a
href="/lessons/maths/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/13.jpg">
<span>Maths</span>
</a></li>





<li>
<a
href="/lessons/icsa/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1146.jpg">
<span>ICSA</span>
</a></li>





<li>
<a
href="/lessons/esol-english/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/224.jpg">
<span>ESOL</span>
</a></li>





<li>
<a
href="/lessons/cello/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/138.jpg">
<span>Cello</span>
</a></li>





<li>
<a
href="/lessons/crypto-currency/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1218.jpg">
<span>Crypto Currency</span>
</a></li>



</ul>
<ul>


<li>
<a
href="/lessons/exercices/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/160.jpg">
<span>Exercises</span>
</a></li>





<li>
<a
href="/lessons/guitar/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/123.jpg">
<span>Guitar</span>
</a></li>





<li>
<a
href="/lessons/english/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/260.jpg">
<span>English</span>
</a></li>





<li>
<a
href="/lessons/skateboarding/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/164.jpg">
<span>Skateboarding</span>
</a></li>





<li>
<a
href="/lessons/personal-training/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/143.jpg">
<span>Personal training</span>
</a></li>





<li
class="category"><div
class="cat-wrapper">
<span>Academic tutoring</span></div></li>



<li>
<a
href="/lessons/piano/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/132.jpg">
<span>Piano</span>
</a></li>





<li>
<a
href="/lessons/python/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/677.jpg">
<span>Python</span>
</a></li>





<li>
<a
href="/lessons/rollerskating/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/161.jpg">
<span>Rollerskating</span>
</a></li>





<li>
<a
href="/lessons/cooking/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/197.jpg">
<span>Cooking</span>
</a></li>





<li>
<a
href="/lessons/chemical-physics/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1117.jpg">
<span>Chemical Physics</span>
</a></li>





<li>
<a
href="/lessons/drawing/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/178.jpg">
<span>Drawing</span>
</a></li>





<li>
<a
href="/lessons/violin/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/137.jpg">
<span>Violin</span>
</a></li>





<li>
<a
href="/lessons/psychology/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/102.jpg">
<span>Psychology</span>
</a></li>





<li>
<a
href="/lessons/photoshop/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/378.jpg">
<span>Photoshop</span>
</a></li>



</ul>
<ul>


<li>
<a
href="/lessons/music-reading/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/134.jpg">
<span>Music reading</span>
</a></li>





<li>
<a
href="/lessons/hausa/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1905.jpg">
<span>Hausa</span>
</a></li>





<li>
<a
href="/lessons/photography/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/182.jpg">
<span>Photography</span>
</a></li>





<li>
<a
href="/lessons/speech-therapy/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/601.jpg">
<span>Speech therapy</span>
</a></li>





<li>
<a
href="/lessons/bass-guitar/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/114.jpg">
<span>Bass guitar</span>
</a></li>





<li>
<a
href="/lessons/yoga/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/171.jpg">
<span>Yoga</span>
</a></li>





<li>
<a
href="/lessons/academic-tutoring/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/4.jpg">
<span>Academic tutoring</span>
</a></li>





<li>
<a
href="/lessons/statistics/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/9.jpg">
<span>Statistics</span>
</a></li>





<li>
<a
href="/lessons/accounting/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/19.jpg">
<span>Accounting</span>
</a></li>





<li>
<a
href="/lessons/ielts/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/429.jpg">
<span>IELTS</span>
</a></li>





<li>
<a
href="/lessons/acting/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/184.jpg">
<span>Acting</span>
</a></li>





<li
class="category"><div
class="cat-wrapper">
<span>Music</span></div></li>



<li>
<a
href="/lessons/dance/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/144.jpg">
<span>Dance</span>
</a></li>





<li>
<a
href="/lessons/web-development/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/250.jpg">
<span>Web development</span>
</a></li>



</ul>
<ul>


<li>
<a
href="/lessons/sewing/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/196.jpg">
<span>Sewing</span>
</a></li>





<li>
<a
href="/lessons/sign-language/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/60.jpg">
<span>Sign language</span>
</a></li>





<li>
<a
href="/lessons/driving/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1131.jpg">
<span>Driving</span>
</a></li>





<li>
<a
href="/lessons/electric-guitar/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/515.jpg">
<span>Electric guitar</span>
</a></li>





<li>
<a
href="/lessons/bitcoin/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1219.jpg">
<span>Bitcoin</span>
</a></li>





<li>
<a
href="/lessons/french/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/51.jpg">
<span>French</span>
</a></li>





<li>
<a
href="/lessons/singing/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/116.jpg">
<span>Singing</span>
</a></li>





<li>
<a
href="/lessons/basic-computer-skills/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/104.jpg">
<span>Basic computer skills</span>
</a></li>





<li>
<a
href="/lessons/geographical-history/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/638.jpg">
<span>Geographical History</span>
</a></li>





<li>
<a
href="/lessons/korean/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/44.jpg">
<span>Korean</span>
</a></li>





<li>
<a
href="/lessons/public-speaking/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1100.jpg">
<span>Public Speaking</span>
</a></li>





<li>
<a
href="/lessons/civil-law/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/89.jpg">
<span>Civil law</span>
</a></li>





<li>
<a
href="/lessons/chemistry/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/15.jpg">
<span>Chemistry</span>
</a></li>



</ul>
<ul>


<li>
<a
href="/lessons/plastic-arts/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/622.jpg">
<span>Plastic arts</span>
</a></li>





<li>
<a
href="/lessons/chinese/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/43.jpg">
<span>Chinese</span>
</a></li>





<li>
<a
href="/lessons/chess/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/200.jpg">
<span>Chess</span>
</a></li>





<li>
<a
href="/lessons/spanish/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/48.jpg">
<span>Spanish</span>
</a></li>





<li>
<a
href="/lessons/saxophone/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/133.jpg">
<span>Saxophone</span>
</a></li>





<li>
<a
href="/lessons/arabic/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/34.jpg">
<span>Arabic</span>
</a></li>





<li>
<a
href="/lessons/physics/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/14.jpg">
<span>Physics</span>
</a></li>





<li>
<a
href="/lessons/vocal-coaching/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/792.jpg">
<span>Vocal Coaching</span>
</a></li>





<li>
<a
href="/lessons/finance/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/21.jpg">
<span>Finance</span>
</a></li>





<li>
<a
href="/lessons/computer-programming/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/110.jpg">
<span>Computer programming</span>
</a></li>





<li>
<a
href="/lessons/tennis/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/168.jpg">
<span>Tennis</span>
</a></li>





<li>
<a
href="/lessons/italian/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/57.jpg">
<span>Italian</span>
</a></li>





<li>
<a
href="/lessons/french-kickboxing/nigeria/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/816.jpg">
<span>French kickboxing</span>
</a></li>



</ul>
</div></div><div
class="bottom-content"><div
class="become-teacher"><div
class="content"><h2>You can become<br>a great tutor too!</h2><p>Share your knowledge, live off your passion and be your own boss</p>
<a
href="https://www.superprof.ng/tutor/" class="btn">
<span
class="text"> Find out more</span>
</a></div><div
class="bubble-wrapper"><div
class="bubble"><h6>Davina</h6><p>Samba teacher</p><div
class="rating">
<span
class="picto"></span>
<span
class="number">5</span>
<span
class="reviews-count">(54 reviews)</span></div></div></div></div></div><div
class="towns-landing-content"><div
class="towns-container"><h2>Learn,<br> Explore your city</h2><div
class="towns-list"><div
class="towns-list-container">
<div
class="towns-list-wrapper">
<div
class="town">
<a
href="/lessons/all-tutors/onitsha/">Onitsha</a>
<ul>
<li><a
href="/lessons/graphic-design/onitsha/">Graphic design</a></li>
<li><a
href="/lessons/maths/onitsha/">Maths</a></li>
<li><a
href="/lessons/english/onitsha/">English</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/asaba/">Asaba</a>
<ul>
<li><a
href="/lessons/computer-programming/asaba/">Computer programming</a></li>
<li><a
href="/lessons/chemistry/asaba/">Chemistry</a></li>
<li><a
href="/lessons/accounting/asaba/">Accounting</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/kano/">Kano</a>
<ul>
<li><a
href="/lessons/hausa/kano/">Hausa</a></li>
<li><a
href="/lessons/biochemistry/kano/">Biochemistry</a></li>
<li><a
href="/lessons/arabic/kano/">Arabic</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/benin-city/">Benin city</a>
<ul>
<li><a
href="/lessons/maths/benin-city/">Maths</a></li>
<li><a
href="/lessons/english/benin-city/">English</a></li>
<li><a
href="/lessons/physics/benin-city/">Physics</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/jos/">Jos</a>
<ul>
<li><a
href="/lessons/maths/jos/">Maths</a></li>
<li><a
href="/lessons/physics/jos/">Physics</a></li>
<li><a
href="/lessons/english/jos/">English</a></li>
</ul>
</div>
</div>
<div
class="towns-list-wrapper">
<div
class="town">
<a
href="/lessons/all-tutors/abuja-municipal/">Abuja municipal</a>
<ul>
<li><a
href="/lessons/dance/abuja-municipal/">Dance</a></li>
<li><a
href="/lessons/ielts/abuja-municipal/">IELTS</a></li>
<li><a
href="/lessons/graphic-design/abuja-municipal/">Graphic design</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/kaduna/">Kaduna</a>
<ul>
<li><a
href="/lessons/maths/kaduna/">Maths</a></li>
<li><a
href="/lessons/computer-programming/kaduna/">Computer programming</a></li>
<li><a
href="/lessons/sewing/kaduna/">Sewing</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/bauchi/">Bauchi</a>
<ul>
<li><a
href="/lessons/maths/bauchi/">Maths</a></li>
<li><a
href="/lessons/english/bauchi/">English</a></li>
<li><a
href="/lessons/physics/bauchi/">Physics</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/kosofe/">Kosofe</a>
<ul>
<li><a
href="/lessons/maths/kosofe/">Maths</a></li>
<li><a
href="/lessons/physics/kosofe/">Physics</a></li>
<li><a
href="/lessons/english/kosofe/">English</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/enugu/">Enugu</a>
<ul>
<li><a
href="/lessons/maths/enugu/">Maths</a></li>
<li><a
href="/lessons/english/enugu/">English</a></li>
<li><a
href="/lessons/biology/enugu/">Biology</a></li>
</ul>
</div>
</div>
<div
class="towns-list-wrapper">
<div
class="town">
<a
href="/lessons/all-tutors/ojo/">Ojo</a>
<ul>
<li><a
href="/lessons/biology/ojo/">Biology</a></li>
<li><a
href="/lessons/maths/ojo/">Maths</a></li>
<li><a
href="/lessons/english/ojo/">English</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/nasarawa/">Nasarawa</a>
<ul>
<li><a
href="/lessons/maths/nasarawa/">Maths</a></li>
<li><a
href="/lessons/english/nasarawa/">English</a></li>
<li><a
href="/lessons/physics/nasarawa/">Physics</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/port-harcourt/">Port harcourt</a>
<ul>
<li><a
href="/lessons/crypto-currency/port-harcourt/">Crypto Currency</a></li>
<li><a
href="/lessons/vocal-coaching/port-harcourt/">Vocal Coaching</a></li>
<li><a
href="/lessons/french/port-harcourt/">French</a></li>
</ul>
</div>
<div
class="town">
<a
href="/lessons/all-tutors/lagos/">Lagos</a>
<ul>
<li><a
href="/lessons/maths/lagos/">Maths</a></li>
<li><a
href="/lessons/english/lagos/">English</a></li>
<li><a
href="/lessons/physics/lagos/">Physics</a></li>
</ul>
</div>
<div
class="town">
<a
href="online.html">Online</a>
<ul>
<li><a
href="/lessons/maths/online/">Maths</a></li>
<li><a
href="/lessons/sex-education/online/">Sex Education</a></li>
<li><a
href="/lessons/shoe-design/online/">Shoe design</a></li>
</ul>
</div>
</div>
</div></div></div></div><div
class="header-search-cta mobile-only search-header-form-visibility-trigger"><div
class="cta-wrapper">
<span
class="picto"></span>
<span
class="text">What do you want to learn?</span><div
class="btn-container"><div
class="btn">
<span
class="icon"></span></div></div></div></div>
</div>

<div
class="notification valid hidden" id="errorNotification" data-timeout="15000"><div
class="wrapper"><p
class="notification-text"></p><div
class="notification-close"></div></div></div>
{% block footer %}
<div
class="footer"><div
class="wrapper"><div
class="footer_links"><div
class="blocs bloc1"><div
class="title">About</div><ul
class="list"><li><button
onclick="location.href='/about-us.html'" title="">Who are we?</button></li><li><button
onclick="location.href='/values.html'" title="">Our Values</button></li><li><button
onclick="location.href='/gtu.html'" title="">Terms & Conditions</button></li><li><button
onclick="location.href='/privacy-policy.html'" title="">Privacy Policy</button></li></ul></div><div
class="blocs bloc2"><div
class="title"></div><ul
class="list"><li><a
href="#" title="">Countries</a></li><li><a
href="#" title="">All subjects</a></li>
<li><a
href="/online.html" title="">Online Lessons</a></li>
<li><a
href="/states.html" title="">States</a></li><li><button
onclick="location.href='/recruitment/'" title="">Jobs</button></li></ul></div><div
class="blocs bloc3"><div
class="title">Resources</div><ul
class="list">
<li><a
href="https://www.superprof.ng/blog/" title="">The Superprof Blog</a></li>
</ul></div>
<div
class="blocs TODO"><div
class="title">Help</div><ul
class="list"><li><button
onclick="location.href='/help/'" title="">Need help?</button></li>
<li><button
onclick="location.href='/contact.html'" title="">Contact</button></li></ul></div><div
class="blocs bloc4"><div
class="title">Follow us</div><ul
class="list footer-socials">
<li>
<button
class="social-facebook a-js" data-href="https://www.facebook.com/superprofng" data-target="_blank" aria-label="Facebook"></button></li>
<li>
<button
class="social-twitter a-js" data-href="https://twitter.com/Superprof_Ng?lang=en" data-target="_blank" aria-label="Twitter"></button></li>
<li>
<button
class="social-instagram a-js" data-href="https://www.instagram.com/superprof_ng/" data-target="_blank" aria-label="Instagram"></button></li>

</ul></div></div><div
class="footer-infos"><div
class="logo">© 2023 Superprof, Explore. Learn</div>
</div></div></div>




	</html>
    <i class="fa-solid fa-bolt-lightning"></i>
    <h4>
        Speed
    </h4>
    <p>
        Fast as lightning, we'll answer you within the day
    </p>