{% load static %}

<div class="modal fade" id="ChangePassowordModal"  data-bs-backdrop="static"  tabindex="-1" aria-labelledby="ChangePassowordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ChangePassowordModalLabel">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="ui form">
          <div class="field">
            <label>Old Password</label>
            <input type="password" name="oldpassword" placeholder="Old Password">
          </div>
          <div class="field">
            <label>New Password</label>
            <input type="password" name="newpassword" placeholder="New Password">
          </div>

          <div class="field">
            <label>Confirm Password</label>
            <input type="password" name="newpassword" placeholder="Confirm Password">
          </div>
          
          <button class="ui button red inverted" type="submit">Change password</button>
          <div class="ui error message"></div>
        </form>
      </div>
   
    </div>
  </div>
</div>


