<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms &amp; conditions</title>
    {% include 'extensions-css.html' %}
    
  </head>
  <body>
   {% include 'navbar.html' %}

   <div class="container overflow-hidden gutter">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
     </div>
  </div>
   <section class="features">
    <div class="container">
      <div class="parent">
        <div class="child">
          <h1 class="sup text-uppercase">Terms and conditions</h1>
          <p class="sub text-break">Sup text-uppercaseerprof is a website published by Sup text-uppercaseerprof SAS with share capital of €4 000.

            RCS Registration: Paris B 533 453 296 - VAT no: FR 65533453296 - SIRET/Company Registration no: 533 453 296 00055.
            
            President: Mr Wilfried GRANIER  
            
            Registered office: 51 rue du Faubourg Saint-Denis, 75010 Paris, France.
            
            Email: howfar@sup text-uppercaseerprof.com
            
            Sup text-uppercaseerprof is hosted by: OVH SAS with a capital of €10 174 560 - RCS Roubaix - Tourcoing 424 761 419 00045 - Registered office: 2 rue Kellermann 59100 Roubaix - President: Mr Michel Paulin.
            
            Sup text-uppercaseerprof is declared to the French Commission Nationale de l'Informatique et des Libertés (CNIL) under the number 1710595V0.</p>
        </div>
      </div>
    </div>

   </section>
   <section>
    <div class="container">
      <div class="parent">
        <div class="child">
          <h1 class="sup text-uppercase">The General Conditions of Use</h1>
          <p class="sub text-break">Sup text-uppercaseerprof is a website published by Sup text-uppercaseerprof SAS with share capital of €4 000.

            RCS Registration: Paris B 533 453 296 - VAT no: FR 65533453296 - SIRET/Company Registration no: 533 453 296 00055.
            
            President: Mr Wilfried GRANIER  
            
            Registered office: 51 rue du Faubourg Saint-Denis, 75010 Paris, France.
            
            Email: howfar@sup text-uppercaseerprof.com
            
            Sup text-uppercaseerprof is hosted by: OVH SAS with a capital of €10 174 560 - RCS Roubaix - Tourcoing 424 761 419 00045 - Registered office: 2 rue Kellermann 59100 Roubaix - President: Mr Michel Paulin.
            
            Sup text-uppercaseerprof is declared to the French Commission Nationale de l'Informatique et des Libertés (CNIL) under the number 1710595V0.</p>
        </div>
      </div>
    </div>

   </section>
   <section>
    <div class="container">
      <div class="parent">
        <div class="child">
          <h1 class="sup text-uppercase">Website description</h1>
          <p class="sub text-break">Sup text-uppercaseerprof is a website published by Sup text-uppercaseerprof SAS with share capital of €4 000.

            RCS Registration: Paris B 533 453 296 - VAT no: FR 65533453296 - SIRET/Company Registration no: 533 453 296 00055.
            
            President: Mr Wilfried GRANIER  
            
            Registered office: 51 rue du Faubourg Saint-Denis, 75010 Paris, France.
            
            Email: howfar@sup text-uppercaseerprof.com
            
            Sup text-uppercaseerprof is hosted by: OVH SAS with a capital of €10 174 560 - RCS Roubaix - Tourcoing 424 761 419 00045 - Registered office: 2 rue Kellermann 59100 Roubaix - President: Mr Michel Paulin.
            
            Sup text-uppercaseerprof is declared to the French Commission Nationale de l'Informatique et des Libertés (CNIL) under the number 1710595V0.</p>
        </div>
      </div>
    </div>

   </section>
   <section>
    <div class="container">
      <div class="parent">
        <div class="child">
          <h1 class="sup text-uppercase">Submission, Distribution & Searching for Listings</h1>
          <p class="sub text-break">Sup text-uppercaseerprof is a website published by Sup text-uppercaseerprof SAS with share capital of €4 000.

            RCS Registration: Paris B 533 453 296 - VAT no: FR 65533453296 - SIRET/Company Registration no: 533 453 296 00055.
            
            President: Mr Wilfried GRANIER  
            
            Registered office: 51 rue du Faubourg Saint-Denis, 75010 Paris, France.
            
            Email: howfar@sup text-uppercaseerprof.com
            
            Sup text-uppercaseerprof is hosted by: OVH SAS with a capital of €10 174 560 - RCS Roubaix - Tourcoing 424 761 419 00045 - Registered office: 2 rue Kellermann 59100 Roubaix - President: Mr Michel Paulin.
            
            Sup text-uppercaseerprof is declared to the French Commission Nationale de l'Informatique et des Libertés (CNIL) under the number 1710595V0.</p>
        </div>
      </div>
    </div>

   </section>
   <section>
    <div class="container">
      <div class="parent">
        <div class="child">
          <h1 class="sup text-uppercase">Using the dashboard</h1>
          <p class="sub text-break">Sup text-uppercaseerprof is a website published by Sup text-uppercaseerprof SAS with share capital of €4 000.

            RCS Registration: Paris B 533 453 296 - VAT no: FR 65533453296 - SIRET/Company Registration no: 533 453 296 00055.
            
            President: Mr Wilfried GRANIER  
            
            Registered office: 51 rue du Faubourg Saint-Denis, 75010 Paris, France.
            
            Email: howfar@sup text-uppercaseerprof.com
            
            Sup text-uppercaseerprof is hosted by: OVH SAS with a capital of €10 174 560 - RCS Roubaix - Tourcoing 424 761 419 00045 - Registered office: 2 rue Kellermann 59100 Roubaix - President: Mr Michel Paulin.
            
            Sup text-uppercaseerprof is declared to the French Commission Nationale de l'Informatique et des Libertés (CNIL) under the number 1710595V0.</p>
        </div>
      </div>
    </div>

   </section>
   {% include 'footer.html' %}
   {% include 'extensions-js.html' %}
  </body>
</html>