<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Center</title>
    {% include 'extensions-css.html' %}

    <style>
      .features-help{

        background: #dde8f3 !important;
      }
 
    </style>
  </head>
 
 
  <body>
  {% include 'navbar.html' %}
 
  <div class="container overflow-hidden gutter">
	<div class="row gy-5">
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	 
	 
	 </div>
  </div>


 
  <header>
    <div class="container">
    <h1 class="header-one sup">Become a Tutor
		Share your Passion</h4>
		<p class="sub">With Omiknow, it has never been easier to become a tutor. Whether you're looking for local Nigeria tutor jobs, part-time teaching jobs, jobs online tutoring jobs, jobs in education, or jobs for ex teachers, Omiknow can cater to everyone. Earn a great living and be your own boss. Give home-tutoring or find online tutoring jobs with 1000s of potential students across our global network. Everyone has a skill to teach, so join Omiknow, become a tutor and share your passion!</p>
    </div>
  </header>
<!---Header ends here-->

<section class="features">
	<h3 class="sup">Join the Omikniow  Community</h3>
  <div class="container">
    <div class="feature mb-4">
		<div class="row"></div>
		<div class="col-sm">
			<div class="owl-carousel-tutoring owl-carousel mt-5 owl-theme">
  <div class="ms-2  me-2">
    
    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <img data-src="{% static 'images/elyse.png' %}" class="card-img-top owl-lazy" >
        </div>
        <div class="content">
          <div class="header sup text-uppercase">Matt Giampietro</div>
          <div class="meta">
            <a class="sub">Math Teacher</a>
          </div>
          <div class="description sub sub">
            Matt Giampietro is a Math Teacher at Omiknow living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
            50 Students
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="ms-2 me-2">
    
    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <img data-src="{% static 'images/molly.png' %}" class="card-img-top owl-lazy">
        </div>
        <div class="content">
          <div class="header">Molly Giampietro</div>
          <div class="meta">
            <a class="sub">Chemistry Teacher</a>
          </div>
          <div class="description sub sub">
            Molly Giampietro is a chemistry Teacher living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
           50 Students
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-2 me-2">
    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <img data-src="{% static 'images/matthew.png' %}" class="card-img-top owl-lazy">
        </div>
        <div class="content">
          <div class="header">Molly Giampietro</div>
          <div class="meta">
            <a class="sub">French Teacher</a>
          </div>
          <div class="description sub">
            Molly Giampietro is a chemistry Teacher living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
           50 Students
          </span>
        </div>
      </div>
    </div>
    
  </div>
  
</div> 
		</div>
		



</div>
</div>
<div class="container mt-2">
	
		<h1 class="sup">Share your passion!</h1>

	<p class="sub p-4">
		By signing up for Omikniow, you are joining a community of over 7 million teachers, coaches, mentors and artists around the world. Our Omikniows are the foundation of our community. By sharing their 
		passion every day, they are offering more than just a lesson, but an opportunity for each student to grow and challenge themselves.
	</p>
</div>


</section>


<section class="testimonies ">
  <div class="container">
	<div class="row">
		<div class="col-sm-6 mb-4">
			<div class="parent d-flex justify-content-center">
				<div class="child">
					<h3 class="sup">Enriching encounters and experiences</h3>
					<p class="sub">
						Humans are at the heart of the Superprof experience. On a daily basis, we encourage exchange, curiosity and learning in order to make the perfect match between teachers and students. 
						Our platform allows each student to discover a range of profiles corresponding as close as possible to their needs.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6">

			<img src="https://picsum.photos/seed/picsum/200/300 " class="img-fluid" alt="...">
		</div>
	</div>

     
  </div>


</section>
<!---- end of testimonies-->
<div class="container overflow-hidden gutter">
	<div class="row gy-5">
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	 
	 
	 </div>
  </div>

<section>
<div class="container">
<header class="rounded shadow-lg">
  <h2 class="sup">How can I become an Omiknow?</h2>
</header>
<div class="container overflow-hidden gutter">
	<div class="row gy-5">
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	 
	 
	 </div>
  </div>
<div class="row">
  <div class="col-sm-4 d-flex justify-content-center mb-4">
    <div class="ui card">
      <div class="content">
        <div class="header sup text-uppercase">Create your teaching ad for free</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Activity</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <p class="sub">At omiknow, it is free to create your teaching ad and to start sharing your passion!</p>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
             
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <button class="ui button red inverted">Join Project</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 d-flex justify-content-center mb-4">
    <div class="ui card">
    <div class="content">
      <div class="header sup text-uppercase">Set your teaching conditions
      </div>
    </div>
    <div class="content">
      <h4 class="ui sub header">Activity</h4>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <p class="sub">You have complete control over your schedule, fees and teaching methodology. You are free to organise your classes as you see fit!</p>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button red inverted">Join Project</button>
    </div>
  </div></div>
  <div class="col-sm-4 d-flex justify-content-center mb-4">
    <div class="ui card">
    <div class="content">
      <div class="header">Share your passion!</div>
    </div>
    <div class="content">
      <h4 class="ui sub header">Activity</h4>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
             <p class="sub">Once your teaching ad is published, students will be able to contact you. If you have any questions, we are here to help you</p>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
           
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button red inverted">Join Project</button>
    </div>
  </div></div>



</div>


</div>

</section>
<div class="container overflow-hidden gutter">
	<div class="row gy-5">
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	 
	 
	 </div>
  </div>

<section class="features-help">
  <div class="container-fluid mb-4">
    <h1 class="text-center sup text-primary">We are here to help you!</h1>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="sub fs-5 p-4">When giving a class at home or traveling to a student's home, trust is essential. That's why we are committed to protecting our superprofs and allowing them to have full control over the organization of their courses. If you need help, we are here for you, 
          the Support Member Team is dedicated to you, it will answer all your questions, advise you and guide you in record time and in 9 languages.</p>
      </div>
      <div class="col-sm-6">

      
        <div class="ui items">
          <div class="item">
            <a class="ui tiny image">
              <img src="/images/avatar/large/stevie.jpg">
            </a>
            <div class="content">
             
              <div class="description sub">
                <p class="sub">Profiles from serious and motivated students</p>
              </div>
            </div>
          </div>
          <div class="item">
            <a class="ui tiny image">
              <img src="/images/avatar/large/veronika.jpg">
            </a>
            <div class="content">
         
              <div class="description sub">
                <p class="sub">Our community of teachers who share their experience</p>
              </div>
            </div>
          </div>
          <div class="item">
            <a class="ui tiny image">
              <img src="/images/avatar/large/jenny.jpg">
            </a>
            <div class="content">
              
              <div class="description sub">
                <p class="sub">Your personal information is protected</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <div class="container overflow-hidden gutter">
	<div class="row gy-5">
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	  <div class="col-6">
		<div class="p-3 border bg-light">Custom column padding</div>
	  </div>
	 
	 
	 </div>
  </div>
<section>
  <div class="container-fluid">

  <h2 class="sup">
    Be your own Boss
  </h2>
  <div class="container overflow-hidden gutter">
    <div class="row gy-5">
      <div class="col-6">
      <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
      <div class="p-3 border bg-light">Custom column padding</div>
      </div>
     
     
     </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center mb-4">
        <div class="ui card">
          <div class="content">
            <div class="header sup text-uppercase">Offer online tutoring around the world</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Activity</h4>
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                     <p class="sub">Over 35,000 students 
               use our platform in over 27 countries
               around the world. On Omiknow, you can connect with students from the comfort of your own home.</p>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                 
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <button class="ui button red inverted">Join Project</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex justify-content-center mb-4">
        <div class="ui card">
        <div class="content">
          <div class="header sup text-uppercase">Join the adventure risk free
          </div>
        </div>
        <div class="content">
          <h4 class="ui sub header">Activity</h4>
          <div class="ui small feed">
            <div class="event">
              <div class="content">
                
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <p class="sub">Publishing your ad is completely free and you can post as many ads as in as many subjects as you are willing to teach.</p>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <button class="ui button red inverted">Join Project</button>
        </div>
      </div></div>
      <div class="col-sm-4 d-flex justify-content-center mb-4">
        <div class="ui card">
        <div class="content">
          <div class="header sup text-uppercase">Set your own rates</div>
        </div>
        <div class="content">
          <h4 class="ui sub header">Activity</h4>
          <div class="ui small feed">
            <div class="event">
              <div class="content">
                
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                 <p class="sub">It's up to you to set your rates. The rate that is shown in your ad is the rate you have chosen.</p>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
               
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <button class="ui button red inverted">Join Project</button>
        </div>
      </div></div>
    
    
    
    </div>
    
  </div>
    
  </div>
</section>

{% include 'extensions-js.html' %}

<!----Site's Footer-->
<script>
	$(document).ready(function(){
		 $(".owl-carousel-tutoring").owlCarousel({
		   autoplay:true,
		   autoplayhoverpause:true,
		   autoplaytimeout:100,
		   items:3,
		   nav:true,
		   loop:true,
		   lazyLoad:true,
		   margin:5,
		   padding:5,
		   stagePadding:5,
		   responsive:{
			 0:{
			   items:1,
			   dots:false
   
			 },
			 485:{
			   items:1,
			   dots:false
   
			 },
			 728:{
			   items:1,
			   dots:true,
   
			 },
   
		   }
		 }); 
   
	   });
   
   </script>


{% include 'footer.html' %}

{% include 'login_modal.html' %}

{% include 'upload-modal.html' %}









</body>
</html>